h1{
    color:white;
    cursor: pointer ;    
    font-family: 'Indie Flower', cursive;    
}
header{
    list-style: linear-gradient();
    border: 5px solid black;
    padding: 16px;
    margin:  2px;
    background-image: url(../images/8.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 230px;
    border-radius: 20px;
  }

h2{
  text-align: center;
  background-size: cover;
  font-family:  cursive;
  color: violet;
  background-color: rgb(156, 106, 204);
 
}
a{
    font-style: oblique;
    font-size: x-large;
    list-style: linear-gradient();
    color: white;
    border: 7px solid white;
    background-color:transparent;
    border-color: transparent;
    border-radius: 15px; 
}
body{
   color:black;
   text-align:center;
   cursor: pointer ;   
   background-color: rgb(221, 195, 245); 
}
p{
    list-style: gras;
    display: inline-block;
    border:2px solid black;
    box-shadow: 4px 4px gray;
    border-radius: 15px;
    
}
.test{
  
  justify-content: center;
}
.gallery{ 

  border: 3px solid blueviolet;
  box-shadow:  8px 8px 8px rgb(0, 0, 0);
  border-radius: 10px;
  float:left;
}

table {
  
  width: 100%;
  border: 2px solid black;
}

th, td {
  padding: 30px;
  text-align: left;
    border: 2px solid black;
}
.prod{
  float: unset;

}






